<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>BugTracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/style.css">
    <script> 
//navegador + relógio
        document.onreadystatechange = () => {
            if(document.readyState ==='interactive'){
                document.getElementById('userAgent').value = window.navigator.userAgent;
                document.getElementById('userDate').value = new Date();
            }
        }
    </script>
</head>
    <body>
        <nav class="navbar mt-4 mb-4">
            <a class="navbar-brand" href="/">
                <img src="./assets/bugtracker.png" alt="BugTracker">
            </a>
        </nav>

        <div class="container">
            <div class="alert alert-success" role="alert">
                Seu problema foi reportado com sucesso. Obrigada!
                <a href="/">voltar</a>
            </div>
        </div>
    </body>
</html>